@model IEnumerable<HospitalManagementSystem.Models.Physician>

@{
    ViewBag.Title = "GetPhysician";
}

<h2>GetPhysician</h2>

<p>
    @Html.ActionLink("Create New", "AddPhysician")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhysicianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicianPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicianSSN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianSSN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhysicianId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhysicianId }) |
            @Html.ActionLink("Delete", "DeletePhysician", new { id=item.PhysicianId })
        </td>
    </tr>
}

</table>
