@model HospitalSystem_Core.ViewModels.DoctorVm


<div style="color:red">
    @ViewBag.Message
</div>

<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Doctor</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="Edit">
            <div class="box-body">
                

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="Email" value="@Model.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="Password" value="@Model.Password" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Phone" value="@Model.Phone" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-10" style="padding-top:5px">
                        @if (Model.Gender.Trim().ToLower() == "male")
                        {<input type="radio" name="Gender" value="male" placeholder="Gender" checked> <i>Male</i>
                            <input type="radio" name="Gender" value="female" placeholder="Gender"> <i>Female</i>
                        }
                        @if (Model.Gender.Trim().ToLower() == "female")
                        {
                            <input type="radio" name="Gender" value="male" placeholder="Gender"> <i>Male</i>
                            <input type="radio" name="Gender" value="female" placeholder="Gender" checked> <i>Female</i>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Specialist</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Specialist" value="@Model.Specialist">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>